<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="./index.html">Home</a>
            <a href="./signin.html">Sign in</a>
            <a href="./signup.html">Sign up</a>
        </nav>
    </header>
    <main>
        <h1>Hologroski-Tipney's Through The Years</h1>
        <table>
            <tr>
                <td><button class="year-button">2001</button></td>
                <td><button class="year-button">2002</button></td>
                <td><button class="year-button">2003</button></td>
                <td><button class="year-button">2004</button></td>
                <td><button class="year-button">2005</button></td>
                <td><button class="year-button">2006</button></td>
            </tr>
            <tr>
                <td><button class="year-button">2007</button></td>
                <td><button class="year-button">2008</button></td>
                <td><button class="year-button">2009</button></td>
                <td><button class="year-button">2010</button></td>
                <td><button class="year-button">2011</button></td>
                <td><button class="year-button">2012</button></td>
            </tr>
            <tr>
                <td><button class="year-button">2013</button></td>
                <td><button class="year-button">2014</button></td>
                <td><button class="year-button">2015</button></td>
                <td><button class="year-button">2016</button></td>
                <td><button class="year-button">2017</button></td>
                <td><button class="year-button">2018</button></td>
            </tr>
            <tr>
                <td><button class="year-button">2019</button></td>
                <td><button class="year-button">2020</button></td>
                <td><button class="year-button">2021</button></td>
                <td><button class="year-button">2022</button></td>
                <td><button class="year-button">2023</button></td>
                <td><button class="year-button">2024</button></td>
            </tr>
        </table>    
    </main>
    <script src="../javascript/years.js"></script>
</body>
</html>